<div class="card">
  <div class="card-header text-white text-bg-info">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form (ngSubmit)="saveHotel()"  novalidate [formGroup]="hotelForm" >
     <div class="form-group row mb-2">
        <label for="hotelNameId" class="col-md-2 col-form-label">
          Nom Hotel
        </label>
         <div class="col-md-8 ">
          <input
          id="hotelNameId"
          type="text"
          class="form-control"
          formControlName="hotelName"
          placeholder="Nom(obligatoire)"
          />
         </div>
       </div>
       <div class="form-group row mb-2">
        <label for="hotelPriceId" class="col-md-2 col-form-label">
          Prix
        </label>
         <div class="col-md-8 ">
          <input
          id="hotelPriceId"
          type="text"
          class="form-control"
          formControlName="hotelPrice"
          placeholder="Prix(obligatoire)"
          />
         </div>
       </div>
       <div class="form-group row mb-2">
        <label for="starRatingId" class="col-md-2 col-form-label">
          Evaluation (1-5)
        </label>
         <div class="col-md-8 ">
          <input
          id="starRatingId"
           type="text"
          class="form-control"
          formControlName="starRating"
          placeholder="Evaluation(1-5)"
          />
         </div>
       </div>

       <div class="form-group row mb-2">
        <label for="descriptionId" class="col-md-2 col-form-label">
         Description
        </label>
         <div class="col-md-8 ">
          <textarea class="form-control"  formControlName="description"
           id="descriptionId" ></textarea>
         </div>
       </div>
       <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
           <button class="btn btn-info mr-3" type="submit">
            sauvegarder
           </button>
           <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/hotels">
            annuler
           </button>
           <button class="btn btn-outline-danger mr-3" type="button">
            supprimer
           </button>
        </div>
       </div>
     </form>
  </div>
</div>

<pre>
  {{ hotelForm.value|json }}
</pre>


